In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read dataset



player_box = pd.read_csv("final_proj_data/basketball/Basketball-PlayerBoxScore.csv") 
box = pd.read_csv("final_proj_data/basketball/Basketball-BoxScores.csv") 
team_box = pd.read_csv("final_proj_data/basketball/Basketball-TeamBoxScores.csv") 
nba_standings = pd.read_csv("final_proj_data/basketball/Standings.csv") 
college = pd.read_csv("final_proj_data/basketball/college.csv") 
#officialBoxScore = pd.read_csv("./data/2012-18_officialBoxScore.csv")
#playerBoxScore = pd.read_csv("./data/2012-18_playerBoxScore.csv")
#teamBoxScore = pd.read_csv("./data/2012-18_teamBoxScore.csv")
#standings = pd.read_csv("./data/2012-18_standings.csv")

In [3]:
#preliminary data exploration
college.info()
college.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4576 non-null   int64
 1   active_from       4576 non-null   int64
 2   active_to         4576 non-null   int64
 3   birth_date        4547 non-null   object
 4   college           4274 non-null   object
 5   height            4575 non-null   object
 6   name              4576 non-null   object
 7   position          4575 non-null   object
 8   url               4576 non-null   object
 9   weight            4570 non-null   float64
 10  NBA__3ptapg       3448 non-null   float64
 11  NBA__3ptpct       2953 non-null   float64
 12  NBA__3ptpg        3448 non-null   float64
 13  NBA_efgpct        3426 non-null   float64
 14  NBA_fg%           4548 non-null   float64
 15  NBA_fg_per_game   4576 non-null   float64
 16  NBA_fga_per_game  4576 non-null   float64
 17  NBA_ft%           4378 non-null   float64
 18  NBA_ft_per_g      4576 non-null   float64
 19  NBA_fta_p_g       4576 non-null   float64
 20  NBA_g_played      4576 non-null   int64
 21  NBA_ppg           4576 non-null   float64
 22  NCAA__3ptapg      1868 non-null   float64
 23  NCAA__3ptpct      1726 non-null   float64
 24  NCAA__3ptpg       1871 non-null   float64
 25  NCAA_efgpct       0 non-null      float64
 26  NCAA_fgapg        2582 non-null   float64
 27  NCAA_fgpct        2583 non-null   float64
 28  NCAA_fgpg         2598 non-null   float64
 29  NCAA_ft           2594 non-null   float64
 30  NCAA_ftapg        2592 non-null   float64
 31  NCAA_ftpg         2598 non-null   float64
 32  NCAA_games        2598 non-null   float64
 33  NCAA_ppg          2598 non-null   float64
dtypes: float64(24), int64(4), object(6)
memory usage: 1.2+ MB

,Unnamed: 0,active_from,active_to,weight,NBA__3ptapg,NBA__3ptpct,NBA__3ptpg,NBA_efgpct,NBA_fg%,NBA_fg_per_game,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
count,4576.000000,4576.000000,4576.000000,4570.000000,3448.000000,2953.000000,3448.000000,3426.000000,4548.000000,4576.000000,...,1871.000000,0.0,2582.000000,2583.000000,2598.000000,2594.000000,2592.000000,2598.000000,2598.000000,2598.000000
mean,2287.500000,1985.263330,1989.450393,208.915974,0.851885,0.236988,0.279118,0.451435,0.407901,2.458829,...,0.844094,NaN,10.274516,0.495974,5.052694,0.711055,4.029900,2.880716,98.307544,13.574057
std,1321.121746,21.060432,21.937301,26.243075,1.196153,0.161189,0.439907,0.100671,0.105117,1.807253,...,0.801787,NaN,3.633562,0.061320,1.780048,0.086036,1.598179,1.211084,30.447005,4.566653
min,0.000000,1947.000000,1947.000000,114.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,NaN,1.200000,0.201000,0.700000,0.295000,0.500000,0.300000,11.000000,1.600000
25%,1143.750000,1969.000000,1973.000000,190.000000,0.000000,0.125000,0.000000,0.421000,0.366000,1.100000,...,0.100000,NaN,7.900000,0.453000,3.800000,0.659000,2.900000,2.100000,76.000000,10.500000
50%,2287.500000,1987.000000,1992.000000,210.000000,0.300000,0.268000,0.100000,0.464000,0.423000,2.000000,...,0.700000,NaN,10.000000,0.492000,4.900000,0.720000,3.800000,2.800000,106.000000,13.400000
75%,3431.250000,2004.000000,2009.000000,225.000000,1.300000,0.340000,0.400000,0.498000,0.464000,3.400000,...,1.400000,NaN,12.300000,0.533500,6.000000,0.770000,4.900000,3.600000,123.000000,16.200000
max,4575.000000,2018.000000,2018.000000,360.000000,7.800000,1.000000,3.400000,1.500000,1.000000,12.100000,...,4.000000,NaN,38.100000,1.211000,16.700000,1.266000,14.400000,10.800000,152.000000,44.200000

# Part 1: Which college produces the best rebounders, 3 point shooters, scorers, defenders?

For this part, I measure a player's performance using NBA statistics rather than NCAA statistics.

A quick look at which colleges produce the most basketball players.

In [4]:
#most popular basketball colleges
college['college'].value_counts().head(10)

University of Kentucky                   96
University of California, Los Angeles    87
University of North Carolina             87
University of Kansas                     67
Duke University                          67
Indiana University                       60
University of Notre Dame                 54
University of Louisville                 53
University of Michigan                   49
St. John's University                    47
Name: college, dtype: int64

If we just sort by NBA points per game, we see some notable players.

In [5]:
#lets just sort by points per game in the NBA and we see some notable names
college.sort_values(by=["NBA_ppg"], ascending = False)[['name', 'college', 'NBA_ppg']]

,name,college,NBA_ppg
2126,Michael Jordan,University of North Carolina,30.1
674,Wilt Chamberlain,University of Kansas,30.1
246,Elgin Baylor,"Albertson College of Idaho, Seattle University",27.4
1961,LeBron James,NaN,27.2
1088,Kevin Durant,University of Texas at Austin,27.1
...,...,...,...
2794,Jason Miskiri,George Mason University,0.0
299,Ben Bentil,Providence College,0.0
2639,Chris McCray,University of Maryland,0.0
3585,Alex Scales,University of Oregon,0.0
2652,Michael McDonald,"Utah Valley State College, University of New O...",0.0

Without any data manipulation or analysis, let's see which college produces the best players (purely in terms of scoring)

In [6]:
#First glance, which college makes the best players (in terms of scoring)
college.groupby(['college']).mean().sort_values(by=["NBA_ppg"], ascending = False)[['NBA_ppg']].head(10)

                                                  NBA_ppg
college
Albertson College of Idaho, Seattle University       27.4
United States Naval Academy                          21.1
Gardner-Webb University, Jacksonville University     18.8
Lehigh University                                    17.2
Bradley University, University of New Mexico         16.8
State University of New York College at Buffalo      16.7
University of Central Arkansas                       16.1
Illinois Wesleyan University                         15.6
Boston College, St. John's University                15.3
Butler County Community College                      15.1

The first issue we run into is that some basketball players attempted multiple colleges. For simplicity sake, I will be using the first college listed.

In [7]:
def splitter(x):
    index = str(x).find(',')
    #if theres a comma
    if index != -1:
        front = x[:index]
        back = x[index + 2:]
        if(front.find('University') != -1 or front.find('College') != -1):
            if(back.find('University') != -1 or back.find('College') != -1):
                return front
    return x

college['college'] = college['college'].apply(splitter)

The next issue is we don't want to include players that have played very few games in the NBA, since they would skew the statistic. One approach is to use a weighted average. I could make the statistics of players who have played more games in the NBA matter more. Instead, I'll just make a minimum for games played to be included. This eliminates over 1000 players who played less than 30 games in the NBA.

In [8]:
college_filtered = college[college['NBA_g_played'] > 30]
college_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3495 entries, 0 to 4575
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3495 non-null   int64
 1   active_from       3495 non-null   int64
 2   active_to         3495 non-null   int64
 3   birth_date        3489 non-null   object
 4   college           3255 non-null   object
 5   height            3494 non-null   object
 6   name              3495 non-null   object
 7   position          3494 non-null   object
 8   url               3495 non-null   object
 9   weight            3493 non-null   float64
 10  NBA__3ptapg       2695 non-null   float64
 11  NBA__3ptpct       2525 non-null   float64
 12  NBA__3ptpg        2695 non-null   float64
 13  NBA_efgpct        2695 non-null   float64
 14  NBA_fg%           3495 non-null   float64
 15  NBA_fg_per_game   3495 non-null   float64
 16  NBA_fga_per_game  3495 non-null   float64
 17  NBA_ft%           3495 non-null   float64
 18  NBA_ft_per_g      3495 non-null   float64
 19  NBA_fta_p_g       3495 non-null   float64
 20  NBA_g_played      3495 non-null   int64
 21  NBA_ppg           3495 non-null   float64
 22  NCAA__3ptapg      1436 non-null   float64
 23  NCAA__3ptpct      1328 non-null   float64
 24  NCAA__3ptpg       1436 non-null   float64
 25  NCAA_efgpct       0 non-null      float64
 26  NCAA_fgapg        2053 non-null   float64
 27  NCAA_fgpct        2053 non-null   float64
 28  NCAA_fgpg         2068 non-null   float64
 29  NCAA_ft           2064 non-null   float64
 30  NCAA_ftapg        2063 non-null   float64
 31  NCAA_ftpg         2068 non-null   float64
 32  NCAA_games        2068 non-null   float64
 33  NCAA_ppg          2068 non-null   float64
dtypes: float64(24), int64(4), object(6)
memory usage: 955.7+ KB

Now let's see which colleges produce the most accurate 3 point shooters. I make it a requirement for the player to average at least one 3 point attempt a game.

In [9]:
#most accurate 3 point shooters (minimum average of 1 shot per game)
college_average = college_filtered.fillna(0).groupby('college').mean()[['NBA__3ptapg', 'NBA__3ptpct', 'NBA_ppg']]
college_average.rename(index = {0 : 'No College'}, inplace = True)
college_average[college_average['NBA__3ptapg'] > 1].sort_values(by=['NBA__3ptpct'], ascending = False).head(10)

,NBA__3ptapg,NBA__3ptpct,NBA_ppg
college,,,
Liberty University,3.7,0.432,10.2
Lehigh University,4.7,0.408,17.2
Master's College,2.5,0.396,4.9
Indian Hills Community College,1.3,0.394,4.7
"University of the Pacific, Georgia Institute of Technology",2.0,0.392,5.7
University of Wisconsin-Stevens Point,2.6,0.386,12.2
Indiana University-Purdue University Indianapolis,3.3,0.383,11.6
Bucknell University,1.4,0.380,5.4
American International College,2.1,0.365,8.6
Campbell University,3.6,0.365,11.9

Now we can also see which colleges produce the most proficient scorers.

In [10]:
college_average.sort_values(by=['NBA_ppg'], ascending = False).head(10)

,NBA__3ptapg,NBA__3ptpct,NBA_ppg
college,,,
Albertson College of Idaho,0.0,0.000,27.4
United States Naval Academy,0.1,0.250,21.1
Lehigh University,4.7,0.408,17.2
State University of New York College at Buffalo,0.3,0.155,16.7
University of Central Arkansas,2.5,0.326,16.1
Illinois Wesleyan University,0.7,0.328,15.6
Mount St. Mary's University,0.0,0.000,15.2
University of Hartford,0.2,0.215,15.0
Marist College,0.0,0.115,14.8
Portland State University,1.5,0.331,14.7

Let's take a prestigious basketball college like University of North Carolina and see where they fall in terms of these statistics. (Not that impressive)

In [11]:
college_average.loc['University of North Carolina']

NBA__3ptapg    1.015278
NBA__3ptpct    0.207069
NBA_ppg        9.234722
Name: University of North Carolina, dtype: float64

# BRYANT STUFF AFTER THIS

The problem we are facing is that the college data only provides so much nba data. We need to know about defensive stuff like rebounds, steals, etc. These next parts creates 7 different dataframes, one for each of the 6 seasons covered by the box_scores data, and one that averages all 6 seasons of stats together for each person

In [12]:
#Getting college players for whom we have nba data for

player_box["fullname"] = player_box["playFNm"] + " " + player_box["playLNm"]
college = college[college["name"].isin(player_box["fullname"].unique())]
# len(college["name"].unique()
len(player_box["fullname"].unique())

941

In [13]:
#splitting the seasons up in the nba data
player_box["gmDate"] = pd.DatetimeIndex(player_box["gmDate"])
mask1213 = (player_box['gmDate'] > "2012-08-01") & (player_box['gmDate'] <= "2013-06-20")
mask1314 = (player_box['gmDate'] > "2013-08-01") & (player_box['gmDate'] <= "2014-06-20")
mask1415 = (player_box['gmDate'] > "2014-08-01") & (player_box['gmDate'] <= "2015-06-20")
mask1516 = (player_box['gmDate'] > "2015-08-01") & (player_box['gmDate'] <= "2016-06-20")
mask1617 = (player_box['gmDate'] > "2016-08-01") & (player_box['gmDate'] <= "2017-06-20")
mask1718 = (player_box['gmDate'] > "2017-08-01") & (player_box['gmDate'] <= "2018-06-20")
gen_mask = (player_box['gmDate'] > "2012-08-01") & (player_box['gmDate'] <= "2018-06-20")


pbox1213 = player_box.loc[mask1213]
pbox1314 = player_box.loc[mask1314]
pbox1415 = player_box.loc[mask1415]
pbox1516 = player_box.loc[mask1516]
pbox1617 = player_box.loc[mask1617]
pbox1718 = player_box.loc[mask1718]
gen = player_box.loc[gen_mask]
len(gen["fullname"].unique())

gen["college"] = college["college"]
gen

,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,playDRB,playTRB,opptAbbr,opptConf,opptDiv,opptLoc,opptRslt,opptDayOff,fullname,college
0,2012-10-30,19:00,Regular,Price,A.J.,WAS,East,Southeast,Away,Loss,...,1,2,CLE,East,Central,Home,Win,0,A.J. Price,NaN
1,2012-10-30,19:00,Regular,Ariza,Trevor,WAS,East,Southeast,Away,Loss,...,2,3,CLE,East,Central,Home,Win,0,Trevor Ariza,NaN
2,2012-10-30,19:00,Regular,Okafor,Emeka,WAS,East,Southeast,Away,Loss,...,2,7,CLE,East,Central,Home,Win,0,Emeka Okafor,NaN
3,2012-10-30,19:00,Regular,Beal,Bradley,WAS,East,Southeast,Away,Loss,...,3,3,CLE,East,Central,Home,Win,0,Bradley Beal,NaN
4,2012-10-30,19:00,Regular,Booker,Trevor,WAS,East,Southeast,Away,Loss,...,0,1,CLE,East,Central,Home,Win,0,Trevor Booker,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155708,2018-04-11,10:30,Regular,Sampson,JaKarr,SAC,West,Pacific,Home,Win,...,4,4,HOU,West,Southwest,Away,Loss,1,JaKarr Sampson,NaN
155709,2018-04-11,10:30,Regular,Hield,Chavano,SAC,West,Pacific,Home,Win,...,3,5,HOU,West,Southwest,Away,Loss,1,Chavano Hield,NaN
155710,2018-04-11,10:30,Regular,Hayes,Nigel,SAC,West,Pacific,Home,Win,...,3,4,HOU,West,Southwest,Away,Loss,1,Nigel Hayes,NaN
155711,2018-04-11,10:30,Regular,Carter,Vincent,SAC,West,Pacific,Home,Win,...,3,3,HOU,West,Southwest,Away,Loss,1,Vincent Carter,NaN
155712,2018-04-11,10:30,Regular,Cooley,Jack,SAC,West,Pacific,Home,Win,...,3,4,HOU,West,Southwest,Away,Loss,1,Jack Cooley,NaN

In [43]:
# creating some helper functions to give us player info from college.csv and their other stats for each season

college_filtered = college[college['NBA_g_played'] > 30]
college_dict = {}
for name in list(college_filtered["name"]):
    college_dict[name] = college_filtered[college_filtered["name"] == name]["college"].iloc[0]

    
# gets a player's college
def player_college(name):
    if name in college_dict.keys():
        return college_dict[name]
    else:
        return None

# gets a player's averages for a season + college name
def player_averages(player, season):
    p_df = season[season["fullname"] == player]
    stat_lst = ["playMin",'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB']
    player_stat_avg = {"name":player, "college": player_college(player)}
    for stat in stat_lst:
        player_stat_avg[stat] = np.mean(p_df[stat])
    return player_stat_avg

# p_df = pbox1718[pbox1718["fullname"] == "Jaylen Brown"]
# pts_mean = np.sum(p_df["playDRB"])
# pts_mean

# player_averages("Jaylen Brown", pbox1718)

In [44]:
#finds average for each player who played in 16-17

plyavg_1617 = pd.DataFrame(columns = ["name", "playMin","college",'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

names_1617 = pbox1617["fullname"].unique()

for name in names_1617:
    plyavg_1617 = plyavg_1617.append(player_averages(name, pbox1718), ignore_index=True)
plyavg_1617

,name,playMin,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,...,play2P%,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB
0,Kristaps Porziņģis,32.333333,None,22.666667,1.187500,1.937500,0.750000,2.395833,2.937500,18.520833,...,0.467785,4.770833,1.875000,0.379290,5.729167,4.541667,0.750579,1.291667,5.291667,6.583333
1,Derrick Rose,16.800000,University of Memphis,8.360000,1.480000,1.400000,0.280000,0.160000,0.640000,7.440000,...,0.448216,1.200000,0.280000,0.090000,1.840000,1.600000,0.590000,0.520000,0.880000,1.400000
2,Carmelo Anthony,32.089744,Syracuse University,16.166667,1.320513,1.282051,0.602564,0.628205,2.525641,14.987179,...,0.429828,6.076923,2.166667,0.334228,2.474359,1.897436,0.566122,0.858974,4.935897,5.794872
3,Courtney Lee,30.381579,Western Kentucky University,12.013158,2.368421,1.105263,1.052632,0.223684,1.434211,9.934211,...,0.473849,3.657895,1.486842,0.391475,1.631579,1.500000,0.467325,0.394737,2.552632,2.947368
4,Joakim Noah,5.857143,University of Florida,1.714286,0.571429,0.571429,0.285714,0.285714,0.714286,1.428571,...,0.452386,0.000000,0.000000,0.000000,0.571429,0.285714,0.142857,0.857143,1.142857,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,Isaiah Taylor,17.402985,University of Texas at Austin,6.641791,3.074627,1.268657,0.507463,0.149254,1.731343,5.820896,...,0.386725,1.194030,0.298507,0.121640,2.104478,1.477612,0.460069,0.313433,1.074627,1.388060
483,Marcus Georges-Hunt,5.380952,Georgia Institute of Technology,1.404762,0.166667,0.071429,0.142857,0.000000,0.761905,1.166667,...,0.215533,0.357143,0.095238,0.067460,0.500000,0.309524,0.074405,0.166667,0.214286,0.380952
484,Patricio Garino,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,Elijah Millsap,NaN,University of Louisiana at Lafayette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,Dahntay Jones,NaN,Rutgers University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#finds average for each player who played in 17-18


plyavg_1718 = pd.DataFrame(columns = ["name", "playMin","college",'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

names_1718 = pbox1718["fullname"].unique()

for name in names_1718:
    plyavg_1718 = plyavg_1718.append(player_averages(name, pbox1718), ignore_index=True)
plyavg_1718

,name,playMin,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,...,play2P%,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB
0,Jaylen Brown,30.800000,University of California,14.528571,1.628571,1.771429,1.014286,0.371429,2.585714,11.457143,...,0.509974,4.371429,1.728571,0.373511,3.328571,2.142857,0.506446,0.971429,4.000000,4.971429
1,Kyrie Irving,32.200000,Duke University,24.433333,5.100000,2.316667,1.083333,0.283333,2.033333,18.116667,...,0.541610,6.783333,2.766667,0.391092,4.350000,3.866667,0.845210,0.550000,3.233333,3.783333
2,Jayson Tatum,30.500000,Duke University,13.900000,1.600000,1.450000,1.037500,0.725000,2.125000,10.437500,...,0.493034,3.025000,1.312500,0.425520,3.225000,2.662500,0.660356,0.612500,4.400000,5.012500
3,Al Horford,31.597222,University of Florida,12.875000,4.708333,1.819444,0.597222,1.097222,1.916667,10.458333,...,0.512365,3.138889,1.347222,0.450892,1.666667,1.305556,0.421131,1.430556,5.930556,7.361111
4,Gordon Hayward,5.000000,Butler University,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Andre Ingram,32.000000,None,12.000000,3.500000,1.500000,1.500000,1.500000,1.500000,8.500000,...,0.433350,4.500000,2.500000,0.525000,1.500000,1.500000,0.500000,0.500000,2.500000,3.000000
536,Kendrick Perkins,15.000000,NaN,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,2.000000,...,0.500000,0.000000,0.000000,0.000000,2.000000,1.000000,0.500000,0.000000,1.000000,1.000000
537,Devin Robinson,13.000000,None,2.000000,0.000000,0.000000,1.000000,0.000000,2.000000,3.000000,...,0.333300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,5.000000
538,Aaron Jackson,35.000000,None,8.000000,1.000000,1.000000,0.000000,0.000000,4.000000,9.000000,...,0.400000,4.000000,1.000000,0.250000,2.000000,1.000000,0.500000,2.000000,1.000000,3.000000
539,Chinanu Onuaku,22.000000,None,4.000000,1.000000,3.000000,0.000000,0.000000,4.000000,5.000000,...,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,4.000000

In [46]:
#finds average for each player who played in 15-16


plyavg_1516 = pd.DataFrame(columns = ["name", "playMin","college",'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

names_1516 = pbox1516["fullname"].unique()

for name in names_1516:
    plyavg_1516 = plyavg_1516.append(player_averages(name, pbox1516), ignore_index=True)
plyavg_1516

,name,playMin,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,...,play2P%,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB
0,Marcus Morris,35.650000,University of Kansas,14.137500,2.512500,1.750000,0.837500,0.287500,2.125000,11.812500,...,0.474961,3.700000,1.350000,0.364314,3.387500,2.537500,0.650524,1.137500,3.912500,5.050000
1,Andre Drummond,32.888889,University of Connecticut,16.222222,0.827160,1.901235,1.469136,1.382716,3.024691,13.098765,...,0.529901,0.074074,0.024691,0.024691,7.234568,2.567901,0.342709,4.876543,9.913580,14.790123
2,Kentavious Caldwell-Pope,36.697368,University of Georgia,14.539474,1.815789,1.381579,1.447368,0.223684,2.197368,12.631579,...,0.483543,4.842105,1.500000,0.308966,3.000000,2.434211,0.703922,0.921053,2.789474,3.710526
3,Ersan Ilyasova,25.432432,NaN,10.364865,0.905405,0.959459,0.702703,0.445946,2.310811,8.932432,...,0.440230,3.486486,1.297297,0.351739,2.081081,1.500000,0.410269,1.945946,3.500000,5.445946
4,Reggie Jackson,30.683544,Boston College,18.848101,6.227848,2.822785,0.746835,0.139241,2.367089,15.746835,...,0.475267,4.240506,1.493671,0.357785,4.265823,3.683544,0.760048,0.734177,2.468354,3.202532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,Josh Huestis,11.000000,Stanford University,2.800000,0.000000,0.600000,0.200000,0.400000,0.600000,2.400000,...,0.100000,1.200000,0.800000,0.600000,0.800000,0.000000,0.000000,0.400000,1.600000,2.000000
473,Jordan Hamilton,27.727273,University of Texas at Austin,11.363636,2.272727,1.545455,0.727273,0.272727,2.181818,10.545455,...,0.540727,4.090909,1.181818,0.221209,1.909091,1.272727,0.500000,1.090909,4.545455,5.636364
474,Dahntay Jones,42.000000,Rutgers University,13.000000,2.000000,0.000000,1.000000,2.000000,6.000000,14.000000,...,0.416700,2.000000,1.000000,0.500000,0.000000,0.000000,0.000000,1.000000,4.000000,5.000000
475,Duje Dukan,24.000000,None,6.000000,1.000000,0.000000,1.000000,0.000000,2.000000,10.000000,...,0.000000,5.000000,2.000000,0.400000,0.000000,0.000000,0.000000,2.000000,2.000000,4.000000
476,Rakeem Christmas,6.000000,None,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000

In [47]:
#finds average for each player who played in 14-15

plyavg_1415 = pd.DataFrame(columns = ["name","playMin","college", 'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

names_1415 = pbox1415["fullname"].unique()

for name in names_1415:
    plyavg_1415 = plyavg_1415.append(player_averages(name, pbox1415), ignore_index=True)
plyavg_1415

,name,playMin,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,...,play2P%,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB
0,Tobias Harris,34.808824,University of Tennessee,17.117647,1.808824,1.691176,1.014706,0.529412,1.970588,13.955882,...,0.501385,3.514706,1.279412,0.346474,3.602941,2.838235,0.699216,1.073529,5.250000,6.323529
1,Nikola Vučević,34.162162,None,19.297297,2.000000,2.000000,0.729730,0.729730,2.972973,16.297297,...,0.519438,0.081081,0.027027,0.027027,2.945946,2.216216,0.670389,3.216216,7.729730,10.945946
2,Evan Fournier,28.603448,NaN,12.034483,2.068966,1.413793,0.689655,0.034483,2.000000,9.913793,...,0.479100,3.879310,1.465517,0.401310,2.534483,1.844828,0.482453,0.482759,2.155172,2.637931
3,Elfrid Payton,30.365854,University of Louisiana at Lafayette,8.914634,6.500000,2.475610,1.731707,0.243902,2.353659,8.634146,...,0.424390,0.512195,0.134146,0.081301,2.609756,1.439024,0.388700,1.304878,2.951220,4.256098
4,Kyle O'Quinn,16.176471,Norfolk State University,5.764706,1.156863,1.078431,0.607843,0.745098,2.156863,4.745098,...,0.525959,0.843137,0.235294,0.166667,1.117647,0.862745,0.316339,0.901961,3.000000,3.901961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Paul George,15.333333,"California State University, Fresno",8.833333,1.000000,2.000000,0.833333,0.166667,1.833333,8.166667,...,0.330533,3.666667,1.500000,0.375000,1.833333,1.333333,0.388883,0.666667,3.000000,3.666667
488,Arinze Onuaku,11.333333,None,4.500000,0.666667,0.333333,0.166667,0.500000,1.000000,2.333333,...,0.472217,0.000000,0.000000,0.000000,1.333333,0.500000,0.138883,1.166667,2.333333,3.500000
489,Gursimran Bhullar,0.666667,None,0.666667,0.333333,0.000000,0.000000,0.333333,0.000000,0.666667,...,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.333333
490,Jamaal Franklin,4.333333,None,1.000000,1.000000,1.000000,0.000000,0.333333,1.333333,0.666667,...,0.000000,0.666667,0.333333,0.166667,0.000000,0.000000,0.000000,0.333333,0.333333,0.666667
491,Vander Blue,37.000000,None,11.000000,4.000000,3.000000,1.500000,0.000000,2.000000,15.000000,...,0.366650,5.000000,1.000000,0.312500,2.500000,1.000000,0.333350,1.000000,3.500000,4.500000

In [48]:
#finds average for each player who played in 13-14

plyavg_1314 = pd.DataFrame(columns = ["name", "playMin","college",'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

names_1314 = pbox1314["fullname"].unique()

for name in names_1314:
    plyavg_1314 = plyavg_1314.append(player_averages(name, pbox1314), ignore_index=True)
plyavg_1314

,name,playMin,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,...,play2P%,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB
0,Arron Afflalo,34.931507,"University of California, Los Angeles",18.219178,3.397260,2.000000,0.479452,0.041096,1.863014,13.849315,...,0.471722,4.109589,1.753425,0.401555,4.602740,3.753425,0.733386,0.438356,3.150685,3.589041
1,Nikola Vučević,31.824561,None,14.228070,1.824561,1.964912,1.052632,0.824561,2.964912,12.210526,...,0.501946,0.000000,0.000000,0.000000,2.403509,1.842105,0.529177,3.245614,7.736842,10.982456
2,Jameer Nelson,32.000000,Saint Joseph's University,12.058824,7.000000,2.441176,0.764706,0.073529,2.147059,10.985294,...,0.448178,5.750000,2.000000,0.329165,1.647059,1.411765,0.532844,0.426471,2.970588,3.397059
3,Jason Maxiell,14.323529,University of Cincinnati,3.205882,0.264706,0.411765,0.235294,0.588235,1.382353,3.088235,...,0.307479,0.000000,0.000000,0.000000,0.911765,0.441176,0.157844,0.823529,1.705882,2.529412
4,Maurice Harkless,24.437500,St. John's University,7.400000,1.000000,1.075000,1.212500,0.625000,1.750000,6.037500,...,0.469656,1.925000,0.737500,0.270981,1.787500,1.062500,0.337560,0.862500,2.437500,3.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,Dalenta Stephens,5.333333,None,2.333333,0.000000,0.000000,0.000000,0.000000,0.000000,2.333333,...,0.300000,0.000000,0.000000,0.000000,0.333333,0.333333,0.333333,0.333333,1.333333,1.666667
477,Brian Hopson,3.500000,None,0.500000,0.500000,0.000000,0.500000,0.000000,0.000000,2.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.500000,0.250000,0.000000,0.000000,0.000000
478,Damion James,10.400000,University of Texas at Austin,1.200000,0.600000,0.200000,0.000000,0.200000,0.600000,1.800000,...,0.133340,0.400000,0.000000,0.000000,0.400000,0.400000,0.200000,0.200000,2.200000,2.400000
479,Melvin Ely,13.500000,"California State University, Fresno",3.000000,0.000000,0.000000,0.000000,0.500000,2.500000,3.000000,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000
480,Josh Powell,19.000000,North Carolina State University,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,6.000000,...,0.333300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,5.000000

In [49]:
#finds average for each player who played in 12-13

plyavg_1213 = pd.DataFrame(columns = ["name", "playMin","college", 'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

names_1213 = pbox1213["fullname"].unique()

for name in names_1213:
    plyavg_1213 = plyavg_1213.append(player_averages(name, pbox1213), ignore_index=True)
plyavg_1213

,name,playMin,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,...,play2P%,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB
0,A.J. Price,22.385965,University of Connecticut,7.736842,3.596491,1.122807,0.578947,0.052632,1.280702,7.245614,...,0.378130,3.508772,1.228070,0.299263,1.087719,0.859649,0.299414,0.350877,1.649123,2.000000
1,Trevor Ariza,26.339286,"University of California, Los Angeles",9.464286,2.035714,1.500000,1.285714,0.357143,1.285714,8.053571,...,0.464727,3.732143,1.357143,0.291814,1.696429,1.392857,0.444345,0.785714,3.964286,4.750000
2,Emeka Okafor,26.012658,University of Connecticut,9.683544,1.177215,1.354430,0.569620,0.974684,1.835443,8.696203,...,0.477737,0.000000,0.000000,0.000000,2.417722,1.379747,0.407159,2.518987,6.227848,8.746835
3,Bradley Beal,31.160714,University of Florida,13.928571,2.464286,1.607143,0.892857,0.517857,2.017857,12.267857,...,0.392155,4.214286,1.625000,0.338200,2.839286,2.232143,0.568125,0.767857,3.000000,3.767857
4,Trevor Booker,18.520833,Clemson University,5.333333,0.833333,0.645833,0.666667,0.333333,1.979167,4.583333,...,0.463908,0.104167,0.000000,0.000000,1.500000,0.833333,0.294560,2.041667,2.937500,4.979167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,Keyon Dooling,11.714286,University of Missouri,4.428571,1.142857,0.714286,0.142857,0.000000,1.142857,3.000000,...,0.333329,1.714286,0.714286,0.161900,1.000000,0.857143,0.500000,0.000000,0.142857,0.142857
465,Josh Akognon,3.000000,None,1.666667,0.333333,0.000000,0.000000,0.000000,1.000000,1.333333,...,0.333333,0.666667,0.333333,0.166667,0.000000,0.000000,0.000000,0.000000,0.333333,0.333333
466,Solomon Jones,13.000000,University of South Florida,0.000000,0.000000,1.500000,0.000000,0.500000,1.500000,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,1.000000,1.500000
467,Quentin Richardson,29.000000,DePaul University,5.000000,1.000000,2.000000,0.000000,0.000000,1.000000,11.000000,...,0.000000,4.000000,1.000000,0.250000,2.000000,2.000000,1.000000,5.000000,5.000000,10.000000
468,Andrew Goudelock,6.000000,College of Charleston,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000

In [50]:
#creates average over 6 years

lstcollege = []


plyavg_6years = pd.DataFrame(columns = ["name", "college",'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB'])

float(plyavg_1213.loc[plyavg_1213["name"] == "Trevor Booker"]['playPTS'] )

plyavg_1213_name = plyavg_1213["name"]
plyavg_1314_name = plyavg_1314["name"]
plyavg_1415_name = plyavg_1415["name"]
plyavg_1516_name = plyavg_1516["name"]
plyavg_1617_name = plyavg_1617["name"]
plyavg_1718_name = plyavg_1718["name"]

stats_lst = [ 'playPTS', "playMin", 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB']

for name in gen["fullname"].unique():
    
    player_avg = {"name": name, "college": player_college(name), 'playPTS': 0, "playMin":0, 'playAST': 0, 'playTO': 0, 'playSTL': 0, 'playBLK': 0,
       'playPF': 0, 'playFGA': 0, 'playFGM': 0, 'playFG%': 0, 'play2PA': 0, 'play2PM': 0,
       'play2P%': 0, 'play3PA': 0, 'play3PM': 0, 'play3P%': 0, 'playFTA': 0, 'playFTM': 0,
       'playFT%': 0, 'playORB': 0, 'playDRB': 0, 'playTRB': 0}
    
    count = 0
    
    if name in list(plyavg_1213_name):
        count += 1
        for stat in stats_lst:
            player_avg[stat] += float(plyavg_1213.loc[plyavg_1213["name"] == name][stat])
    if name in list(plyavg_1314_name):
        count += 1
        for stat in stats_lst:
            player_avg[stat] += float(plyavg_1314.loc[plyavg_1314["name"] == name][stat])
    if name in list(plyavg_1415_name):
        count += 1
        for stat in stats_lst:
            player_avg[stat] += float(plyavg_1415.loc[plyavg_1415["name"] == name][stat])
    if name in list(plyavg_1516_name):
        count += 1
        for stat in stats_lst:
            player_avg[stat] += float(plyavg_1516.loc[plyavg_1516["name"] == name][stat])
    if name in list(plyavg_1617_name):
        count += 1
        for stat in stats_lst:
            player_avg[stat] += float(plyavg_1617.loc[plyavg_1617["name"] == name][stat])
    if name in list(plyavg_1718_name):
        count += 1
        for stat in stats_lst:
            player_avg[stat] += float(plyavg_1718.loc[plyavg_1718["name"] == name][stat])
            
    if count == 0:
        count = 1
    for stat1 in stats_lst:
        player_avg[stat1] = player_avg[stat1]/count
        
    plyavg_6years = plyavg_6years.append(player_avg, ignore_index=True)

In [51]:
plyavg_6years

,name,college,playPTS,playAST,playTO,playSTL,playBLK,playPF,playFGA,playFGM,...,play3PA,play3PM,play3P%,playFTA,playFTM,playFT%,playORB,playDRB,playTRB,playMin
0,A.J. Price,University of Connecticut,4.807885,1.943336,0.637090,0.294631,0.017544,0.678732,4.719234,1.821557,...,2.162265,0.673093,0.192397,0.694075,0.491678,0.159176,0.205787,0.990184,1.195971,12.831036
1,Trevor Ariza,"University of California, Los Angeles",12.103167,2.088886,1.323467,1.614794,0.255541,2.000694,10.042414,4.213319,...,6.027924,2.236539,0.349826,1.765199,1.439990,0.497832,0.803781,4.169699,4.973480,33.429606
2,Emeka Okafor,University of Connecticut,7.034080,0.742454,0.927215,0.438656,0.968111,1.494645,6.175024,2.999026,...,0.000000,0.000000,0.000000,1.631938,1.036027,0.382426,2.163340,4.517770,6.681110,19.775560
3,Bradley Beal,University of Florida,18.175102,3.487441,2.094804,1.067268,0.347989,2.050365,15.375631,6.764724,...,5.146355,1.993450,0.373266,3.377208,2.652205,0.617191,0.776913,3.158835,3.935747,33.831269
4,Trevor Booker,Clemson University,6.296498,1.041318,0.887654,0.553561,0.435659,1.876773,5.175600,2.634173,...,0.452370,0.125714,0.076435,1.417673,0.902438,0.295182,1.902175,3.154964,5.057139,19.125992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,Omari Johnson,None,5.500000,1.750000,0.750000,0.500000,0.000000,1.500000,5.250000,2.250000,...,3.000000,1.000000,0.233325,0.000000,0.000000,0.000000,1.000000,1.750000,2.750000,18.750000
937,Edmond Sumner,None,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000
938,Andre Ingram,None,12.000000,3.500000,1.500000,1.500000,1.500000,1.500000,8.500000,4.000000,...,4.500000,2.500000,0.525000,1.500000,1.500000,0.500000,0.500000,2.500000,3.000000,32.000000
939,Devin Robinson,None,2.000000,0.000000,0.000000,1.000000,0.000000,2.000000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,5.000000,13.000000
940,Aaron Jackson,None,8.000000,1.000000,1.000000,0.000000,0.000000,4.000000,9.000000,3.000000,...,4.000000,1.000000,0.250000,2.000000,1.000000,0.500000,2.000000,1.000000,3.000000,35.000000

In [52]:
# first pass of total points
plyavg_6years.groupby(['college']).mean().sort_values(by=["playPTS"], ascending = False)[['playPTS']].head(10)

plyavg_6years[plyavg_6years["name"]=="Andre Ingram"]["playBLK"]
player_box.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155713 entries, 0 to 155712
Data columns (total 52 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   gmDate      155713 non-null  datetime64[ns]
 1   gmTime      155713 non-null  object
 2   seasTyp     155713 non-null  object
 3   playLNm     155713 non-null  object
 4   playFNm     155713 non-null  object
 5   teamAbbr    155713 non-null  object
 6   teamConf    155713 non-null  object
 7   teamDiv     155713 non-null  object
 8   teamLoc     155713 non-null  object
 9   teamRslt    155713 non-null  object
 10  teamDayOff  155713 non-null  int64
 11  offLNm1     155713 non-null  object
 12  offFNm1     155713 non-null  object
 13  offLNm2     155713 non-null  object
 14  offFNm2     155713 non-null  object
 15  offLNm3     155672 non-null  object
 16  offFNm3     155672 non-null  object
 17  playDispNm  155713 non-null  object
 18  playStat    155713 non-null  object
 19  playMin     155713 non-null  int64
 20  playPos     155713 non-null  object
 21  playHeight  155713 non-null  int64
 22  playWeight  155713 non-null  int64
 23  playBDate   155713 non-null  object
 24  playPTS     155713 non-null  int64
 25  playAST     155713 non-null  int64
 26  playTO      155713 non-null  int64
 27  playSTL     155713 non-null  int64
 28  playBLK     155713 non-null  int64
 29  playPF      155713 non-null  int64
 30  playFGA     155713 non-null  int64
 31  playFGM     155713 non-null  int64
 32  playFG%     155713 non-null  float64
 33  play2PA     155713 non-null  int64
 34  play2PM     155713 non-null  int64
 35  play2P%     155713 non-null  float64
 36  play3PA     155713 non-null  int64
 37  play3PM     155713 non-null  int64
 38  play3P%     155713 non-null  float64
 39  playFTA     155713 non-null  int64
 40  playFTM     155713 non-null  int64
 41  playFT%     155713 non-null  float64
 42  playORB     155713 non-null  int64
 43  playDRB     155713 non-null  int64
 44  playTRB     155713 non-null  int64
 45  opptAbbr    155713 non-null  object
 46  opptConf    155713 non-null  object
 47  opptDiv     155713 non-null  object
 48  opptLoc     155713 non-null  object
 49  opptRslt    155713 non-null  object
 50  opptDayOff  155713 non-null  int64
 51  fullname    155713 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(22), object(25)
memory usage: 61.8+ MB

# PART 2: Looking at PER and Conferences

PER approx equation: 
[ FGM x 85.910

+ Steals x 53.897

+ 3PTM x 51.757

+ FTM x 46.845

+ Blocks x 39.190

+ Offensive_Reb x 39.190

+ Assists x 34.677

+ Defensive_Reb x 14.707

- Foul x 17.174

- FT_Miss x 20.091

- FG_Miss x 39.190

- TO x 53.897 ]

x (1 / Minutes).

In [63]:
def per_calc(player, data):
    player_data = data[data["name"] == player]
    fgm = float(player_data['playFGM']) * 85.910
    stls = float(player_data['playSTL']) * 53.897
    thptm = float(player_data['play3PM']) * 51.757
    ftm = float(player_data['playFTM']) * 46.845
    blks = float(player_data['playBLK']) * 39.190
    orb = float(player_data['playORB']) * 39.190
    asst = float(player_data['playAST']) * 34.677
    drb = float(player_data['playDRB']) * 14.707
    foul = float(player_data['playPF']) * 17.174
    ftmss = (float(player_data['playFTA']) - float(player_data['playFTM']) )* 20.091
    fgmss = (float(player_data['play2PA']) - float(player_data['play2PM']) + float(player_data['play3PA']) - float(player_data['play3PM']) )  * 39.190
    to = float(player_data['playSTL']) * 53.897
    mins = 1/float(player_data['playMin'])
    
    per = (fgm + stls + thptm + ftm + blks + orb + asst + drb - foul -ftmss - fgmss - to) * mins
    return per


per_calc("Trevor Ariza", plyavg_1213)

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
14,14,2013,2018,"October 6, 1990",Baylor University,6-7,Quincy Acy,F,/players/a/acyqu01.html,240.0,...,0.0,NaN,6.0,0.602,3.6,0.708,3.6,2.5,139.0,9.8
19,19,2015,2016,"July 8, 1994","University of California, Los Angeles",6-5,Jordan Adams,G,/players/a/adamsjo01.html,209.0,...,1.4,NaN,11.6,0.467,5.4,0.839,5.0,4.2,69.0,16.4
21,21,2014,2018,"July 20, 1993",University of Pittsburgh,7-0,Steven Adams,C,/players/a/adamsst01.html,255.0,...,0.0,NaN,5.5,0.571,3.1,0.443,2.2,1.0,32.0,7.2
25,25,2011,2015,"February 10, 1986",University of Connecticut,6-7,Jeff Adrien,F,/players/a/adrieje01.html,245.0,...,0.0,NaN,8.8,0.515,4.5,0.606,4.9,3.0,133.0,12.1
26,26,2008,2018,"October 15, 1985","University of California, Los Angeles",6-5,Arron Afflalo,G,/players/a/afflaar01.html,210.0,...,2.0,NaN,10.9,0.457,5.0,0.781,3.6,2.8,104.0,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4562,4562,2013,2013,"April 7, 1987",University of Notre Dame,6-11,Luke Zeller,C,/players/z/zellelu01.html,245.0,...,0.8,NaN,3.7,0.417,1.5,0.574,0.5,0.3,128.0,4.2
4563,4563,2013,2018,"January 17, 1990",University of North Carolina,7-0,Tyler Zeller,F-C,/players/z/zellety01.html,253.0,...,0.0,NaN,8.6,0.543,4.7,0.775,4.5,3.5,117.0,12.8
4569,4569,2017,2017,"September 9, 1996","University of Nevada, Las Vegas",7-0,Stephen Zimmerman,C,/players/z/zimmest01.html,240.0,...,0.2,NaN,8.2,0.477,3.9,0.624,3.9,2.4,26.0,10.5
4570,4570,2017,2018,"February 18, 1994",NaN,6-8,Paul Zipser,G-F,/players/z/zipsepa01.html,215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4574,4574,2017,2018,"March 18, 1997",NaN,7-1,Ivica Zubac,C,/players/z/zubaciv01.html,265.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
cbb = pd.read_csv("final_proj_data/basketball/cbb.csv") 
cbb["TEAM"].unique()
plyavg_6years["college"].unique()
cbb["TEAM"].unique()
cbb

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Texas A&M,SEC,35,22,111.2,94.7,0.8640,51.4,46.9,19.2,...,27.6,52.5,45.7,32.9,32.6,70.3,1.9,S16,7.0,2018
1753,LSU,SEC,35,28,117.9,96.6,0.9081,51.2,49.9,17.9,...,33.1,52.9,49.4,31.9,33.7,71.2,7.3,S16,3.0,2019
1754,Tennessee,SEC,36,31,122.8,95.2,0.9488,55.3,48.1,15.8,...,34.9,55.4,44.7,36.7,35.4,68.8,9.9,S16,2.0,2019
1755,Gonzaga,WCC,35,27,117.4,94.5,0.9238,55.2,44.8,17.1,...,28.1,54.3,44.4,37.8,30.3,68.2,2.1,S16,11.0,2016
1756,Gonzaga,WCC,37,32,117.2,94.9,0.9192,57.0,47.1,16.1,...,29.1,58.2,44.1,36.8,35.0,70.5,4.9,S16,4.0,2018

# Failed attempts

In [21]:
#average stats by college
#preliminary data cleaning and preperation
college_sum = college.groupby(['college']).sum()[['NBA__3ptpct', 'NBA_ppg']]
college_sum['num_players'] = college.groupby(['college']).count()[['active_from']]
college_sum.rename(columns = {'NBA__3ptpct' : 'total NBA__3ptpct', 'NBA_ppg' : 'total NBA_ppg'}, inplace = True)
college_sum['average NBA__3ptpct'] = college_sum['total NBA__3ptpct'] / college_sum['num_players']
college_sum['average NBA_ppg'] = college_sum['total NBA_ppg'] / college_sum['num_players']

In [22]:
#college_sum.sort_values(by=["average NBA__3ptpct"], ascending = False)
#college_sum.sort_values(by=["average NBA_ppg"], ascending = False)