In [2]:
#import libraries
import pandas as pd

In [6]:
#read dataset



player_box = pd.read_csv("final_proj_data/basketball/Basketball-PlayerBoxScore.csv") 
box = pd.read_csv("final_proj_data/basketball/Basketball-BoxScores.csv") 
team_box = pd.read_csv("final_proj_data/basketball/Basketball-TeamBoxScores.csv") 
nba_standings = pd.read_csv("final_proj_data/basketball/Standings.csv") 
college = pd.read_csv("final_proj_data/basketball/college.csv") 
#officialBoxScore = pd.read_csv("./data/2012-18_officialBoxScore.csv")
#playerBoxScore = pd.read_csv("./data/2012-18_playerBoxScore.csv")
#teamBoxScore = pd.read_csv("./data/2012-18_teamBoxScore.csv")
#standings = pd.read_csv("./data/2012-18_standings.csv")

In [7]:
#preliminary data exploration
college.info()
college.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4576 non-null   int64
 1   active_from       4576 non-null   int64
 2   active_to         4576 non-null   int64
 3   birth_date        4547 non-null   object
 4   college           4274 non-null   object
 5   height            4575 non-null   object
 6   name              4576 non-null   object
 7   position          4575 non-null   object
 8   url               4576 non-null   object
 9   weight            4570 non-null   float64
 10  NBA__3ptapg       3448 non-null   float64
 11  NBA__3ptpct       2953 non-null   float64
 12  NBA__3ptpg        3448 non-null   float64
 13  NBA_efgpct        3426 non-null   float64
 14  NBA_fg%           4548 non-null   float64
 15  NBA_fg_per_game   4576 non-null   float64
 16  NBA_fga_per_game  4576 non-null   float64
 17  NBA_ft%           4378 non-null   float64
 18  NBA_ft_per_g      4576 non-null   float64
 19  NBA_fta_p_g       4576 non-null   float64
 20  NBA_g_played      4576 non-null   int64
 21  NBA_ppg           4576 non-null   float64
 22  NCAA__3ptapg      1868 non-null   float64
 23  NCAA__3ptpct      1726 non-null   float64
 24  NCAA__3ptpg       1871 non-null   float64
 25  NCAA_efgpct       0 non-null      float64
 26  NCAA_fgapg        2582 non-null   float64
 27  NCAA_fgpct        2583 non-null   float64
 28  NCAA_fgpg         2598 non-null   float64
 29  NCAA_ft           2594 non-null   float64
 30  NCAA_ftapg        2592 non-null   float64
 31  NCAA_ftpg         2598 non-null   float64
 32  NCAA_games        2598 non-null   float64
 33  NCAA_ppg          2598 non-null   float64
dtypes: float64(24), int64(4), object(6)
memory usage: 1.2+ MB

,Unnamed: 0,active_from,active_to,weight,NBA__3ptapg,NBA__3ptpct,NBA__3ptpg,NBA_efgpct,NBA_fg%,NBA_fg_per_game,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
count,4576.000000,4576.000000,4576.000000,4570.000000,3448.000000,2953.000000,3448.000000,3426.000000,4548.000000,4576.000000,...,1871.000000,0.0,2582.000000,2583.000000,2598.000000,2594.000000,2592.000000,2598.000000,2598.000000,2598.000000
mean,2287.500000,1985.263330,1989.450393,208.915974,0.851885,0.236988,0.279118,0.451435,0.407901,2.458829,...,0.844094,NaN,10.274516,0.495974,5.052694,0.711055,4.029900,2.880716,98.307544,13.574057
std,1321.121746,21.060432,21.937301,26.243075,1.196153,0.161189,0.439907,0.100671,0.105117,1.807253,...,0.801787,NaN,3.633562,0.061320,1.780048,0.086036,1.598179,1.211084,30.447005,4.566653
min,0.000000,1947.000000,1947.000000,114.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,NaN,1.200000,0.201000,0.700000,0.295000,0.500000,0.300000,11.000000,1.600000
25%,1143.750000,1969.000000,1973.000000,190.000000,0.000000,0.125000,0.000000,0.421000,0.366000,1.100000,...,0.100000,NaN,7.900000,0.453000,3.800000,0.659000,2.900000,2.100000,76.000000,10.500000
50%,2287.500000,1987.000000,1992.000000,210.000000,0.300000,0.268000,0.100000,0.464000,0.423000,2.000000,...,0.700000,NaN,10.000000,0.492000,4.900000,0.720000,3.800000,2.800000,106.000000,13.400000
75%,3431.250000,2004.000000,2009.000000,225.000000,1.300000,0.340000,0.400000,0.498000,0.464000,3.400000,...,1.400000,NaN,12.300000,0.533500,6.000000,0.770000,4.900000,3.600000,123.000000,16.200000
max,4575.000000,2018.000000,2018.000000,360.000000,7.800000,1.000000,3.400000,1.500000,1.000000,12.100000,...,4.000000,NaN,38.100000,1.211000,16.700000,1.266000,14.400000,10.800000,152.000000,44.200000

# Part 1: Which college produces the best rebounders, 3 point shooters, scorers, defenders?

For this part, I measure a player's performance using NBA statistics rather than NCAA statistics.

A quick look at which colleges produce the most basketball players.

In [8]:
#most popular basketball colleges
college['college'].value_counts().head(10)

University of Kentucky                   96
University of California, Los Angeles    87
University of North Carolina             87
Duke University                          67
University of Kansas                     67
Indiana University                       60
University of Notre Dame                 54
University of Louisville                 53
University of Michigan                   49
St. John's University                    47
Name: college, dtype: int64

If we just sort by NBA points per game, we see some notable players.

In [9]:
#lets just sort by points per game in the NBA and we see some notable names
college.sort_values(by=["NBA_ppg"], ascending = False)[['name', 'college', 'NBA_ppg']].head(20)

,name,college,NBA_ppg
2126,Michael Jordan,University of North Carolina,30.1
674,Wilt Chamberlain,University of Kansas,30.1
246,Elgin Baylor,"Albertson College of Idaho, Seattle University",27.4
1961,LeBron James,NaN,27.2
1088,Kevin Durant,University of Texas at Austin,27.1
4310,Jerry West,West Virginia University,27.0
1913,Allen Iverson,Georgetown University,26.7
3206,Bob Pettit,Louisiana State University,26.4
3440,Oscar Robertson,University of Cincinnati,25.7
1405,George Gervin,Eastern Michigan University,25.1
2525,Karl Malone,Louisiana Tech University,25.0
529,Kobe Bryant,NaN,25.0
4370,Dominique Wilkins,University of Georgia,24.8
222,Rick Barry,University of Miami,24.8
2,Kareem Abdul-Jabbar,"University of California, Los Angeles",24.6
326,Larry Bird,Indiana State University,24.3
887,Adrian Dantley,University of Notre Dame,24.3
1178,Julius Erving,University of Massachusetts Amherst,24.2
2539,Pete Maravich,Louisiana State University,24.2
107,Carmelo Anthony,Syracuse University,24.1

Without any data manipulation or analysis, let's see which college produces the best players (purely in terms of scoring)

In [10]:
#First glance, which college makes the best players (in terms of scoring)
college.groupby(['college']).mean().sort_values(by=["NBA_ppg"], ascending = False)[['NBA_ppg']].head(10)

                                                  NBA_ppg
college
Albertson College of Idaho, Seattle University       27.4
United States Naval Academy                          21.1
Gardner-Webb University, Jacksonville University     18.8
Lehigh University                                    17.2
Bradley University, University of New Mexico         16.8
State University of New York College at Buffalo      16.7
University of Central Arkansas                       16.1
Illinois Wesleyan University                         15.6
Boston College, St. John's University                15.3
Butler County Community College                      15.1

The first issue we run into is that some basketball players attempted multiple colleges. For simplicity sake, I will be using the first college listed.

In [11]:
def splitter(x):
    index = str(x).find(',')
    #if theres a comma
    if index != -1:
        front = x[:index]
        back = x[index + 2:]
        if(front.find('University') != -1 or front.find('College') != -1):
            if(back.find('University') != -1 or back.find('College') != -1):
                return front
    return x

college['college'] = college['college'].apply(splitter)

The next issue is we don't want to include players that have played very few games in the NBA, since they would skew the statistic. One approach is to use a weighted average. I could make the statistics of players who have played more games in the NBA matter more. Instead, I'll just make a minimum for games played to be included. This eliminates over 1000 players who played less than 30 games in the NBA.

In [12]:
college_filtered = college[college['NBA_g_played'] > 30]
college_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3495 entries, 0 to 4575
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3495 non-null   int64
 1   active_from       3495 non-null   int64
 2   active_to         3495 non-null   int64
 3   birth_date        3489 non-null   object
 4   college           3255 non-null   object
 5   height            3494 non-null   object
 6   name              3495 non-null   object
 7   position          3494 non-null   object
 8   url               3495 non-null   object
 9   weight            3493 non-null   float64
 10  NBA__3ptapg       2695 non-null   float64
 11  NBA__3ptpct       2525 non-null   float64
 12  NBA__3ptpg        2695 non-null   float64
 13  NBA_efgpct        2695 non-null   float64
 14  NBA_fg%           3495 non-null   float64
 15  NBA_fg_per_game   3495 non-null   float64
 16  NBA_fga_per_game  3495 non-null   float64
 17  NBA_ft%           3495 non-null   float64
 18  NBA_ft_per_g      3495 non-null   float64
 19  NBA_fta_p_g       3495 non-null   float64
 20  NBA_g_played      3495 non-null   int64
 21  NBA_ppg           3495 non-null   float64
 22  NCAA__3ptapg      1436 non-null   float64
 23  NCAA__3ptpct      1328 non-null   float64
 24  NCAA__3ptpg       1436 non-null   float64
 25  NCAA_efgpct       0 non-null      float64
 26  NCAA_fgapg        2053 non-null   float64
 27  NCAA_fgpct        2053 non-null   float64
 28  NCAA_fgpg         2068 non-null   float64
 29  NCAA_ft           2064 non-null   float64
 30  NCAA_ftapg        2063 non-null   float64
 31  NCAA_ftpg         2068 non-null   float64
 32  NCAA_games        2068 non-null   float64
 33  NCAA_ppg          2068 non-null   float64
dtypes: float64(24), int64(4), object(6)
memory usage: 955.7+ KB

Now let's see which colleges produce the most accurate 3 point shooters. I make it a requirement for the player to average at least one 3 point attempt a game.

In [13]:
#most accurate 3 point shooters (minimum average of 1 shot per game)
college_average = college_filtered.fillna(0).groupby('college').mean()[['NBA__3ptapg', 'NBA__3ptpct', 'NBA_ppg']]
college_average.rename(index = {0 : 'No College'}, inplace = True)
college_average[college_average['NBA__3ptapg'] > 2].sort_values(by=['NBA__3ptpct'], ascending = False).head(10)

,NBA__3ptapg,NBA__3ptpct,NBA_ppg
college,,,
Liberty University,3.7,0.432,10.2
Lehigh University,4.7,0.408,17.2
Master's College,2.5,0.396,4.9
University of Wisconsin-Stevens Point,2.6,0.386,12.2
Indiana University-Purdue University Indianapolis,3.3,0.383,11.6
American International College,2.1,0.365,8.6
Campbell University,3.6,0.365,11.9
Fayetteville State University,3.3,0.334,9.2
University of Central Arkansas,2.5,0.326,16.1
Trinity Valley Community College,2.5,0.317,14.5

Now we can also see which colleges produce the most proficient scorers.

In [14]:
college_average.sort_values(by=['NBA_ppg'], ascending = False).head(10)

,NBA__3ptapg,NBA__3ptpct,NBA_ppg
college,,,
Albertson College of Idaho,0.0,0.000,27.4
United States Naval Academy,0.1,0.250,21.1
Lehigh University,4.7,0.408,17.2
State University of New York College at Buffalo,0.3,0.155,16.7
University of Central Arkansas,2.5,0.326,16.1
Illinois Wesleyan University,0.7,0.328,15.6
Mount St. Mary's University,0.0,0.000,15.2
University of Hartford,0.2,0.215,15.0
Marist College,0.0,0.115,14.8
Portland State University,1.5,0.331,14.7

Let's take a prestigious basketball college like University of North Carolina and see where they fall in terms of these statistics. (Not that impressive)

In [39]:
college_average.loc['University of North Carolina']

NBA__3ptapg    1.015278
NBA__3ptpct    0.207069
NBA_ppg        9.234722
Name: University of North Carolina, dtype: float64

# Failed attempts

In [155]:
#average stats by college
#preliminary data cleaning and preperation
college_sum = college.groupby(['college']).sum()[['NBA__3ptpct', 'NBA_ppg']]
college_sum['num_players'] = college.groupby(['college']).count()[['active_from']]
college_sum.rename(columns = {'NBA__3ptpct' : 'total NBA__3ptpct', 'NBA_ppg' : 'total NBA_ppg'}, inplace = True)
college_sum['average NBA__3ptpct'] = college_sum['total NBA__3ptpct'] / college_sum['num_players']
college_sum['average NBA_ppg'] = college_sum['total NBA_ppg'] / college_sum['num_players']

In [157]:
#college_sum.sort_values(by=["average NBA__3ptpct"], ascending = False)
#college_sum.sort_values(by=["average NBA_ppg"], ascending = False)